body {
  font-size: 16px;
  display: grid;
  position: relative;
}
canvas {
  display: block;
  margin: auto;
  border: 1px solid black;
}
.iconList {
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
}
.icon {
  float: left;
  width: 0.4rem;
  height: 0.4rem;
  fill: currentColor;
  overflow: hidden;
  color: #ddd;
  transition: all 400ms;
}
.active {
  width: 0.5rem;
  height: 0.5rem;
  color: #000;
}
.clearfix::after {
  content: '';
  clear: both;
  display: block;
}
.paletteBox {
  display: none;
}
.colorShow {
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: #000;
}
